include:
  - ./docker-compose-api.yaml

services:
  nginx:
    image: nginx:1.29.5
    volumes:
      - ./config/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "9999:9999"
    restart: always
    networks:
      - backend
    depends_on:
      api01:
        condition: service_healthy
