include:
  - ./docker-compose-api.yaml

services:
  nginx:
    image: nginx:1.29.4@sha256:7272239bd21472f311aa3e86a85fdca0f1ad648995f983ab6e5e7dea665cd233
    volumes:
      - ./config/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "9999:9999"
    restart: always
    networks:
      - backend
    depends_on:
      api01:
        condition: service_healthy
