include:
  - ./docker-compose-api.yaml

services:
  nginx:
    image: nginx:1.29.4@sha256:e3a22a791adaf8f59de605d824f8d9cf0ac7c7c779d405bb0158144e57433246
    volumes:
      - ./config/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "9999:9999"
    restart: always
    networks:
      - backend
    depends_on:
      api01:
        condition: service_healthy
