include:
  - ./docker-compose-networks.yaml

services:
  database:
    image: postgres:18.1@sha256:bfe50b2b0ddd9b55eadedd066fe24c7c6fe06626185b73358c480ea37868024d
    environment:
      - POSTGRES_USER=mldemo
      - POSTGRES_PASSWORD=mldemo
    # volumes:
    #   - /var/mldemo/volumes/lib/postgresql/data/:/var/lib/postgresql/data/
    ports:
      - "5432:5432"
    networks:
      - backend
    restart: always
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U $${POSTGRES_USER}']
      interval: 5s
      timeout: 5s
      retries: 10
