include:
  - ./docker-compose-networks.yaml

services:
  database:
    image: postgres:18.1-alpine@sha256:db3b1082629f4b3a15390436f64ed4de1676b2e593d8282a50f40e92e20e6a9d
    environment:
      - POSTGRES_USER=mldemo
      - POSTGRES_PASSWORD=mldemo
    # volumes:
    #   - /var/mldemo/volumes/lib/postgresql/data/:/var/lib/postgresql/data/
    ports:
      - "5432:5432"
    networks:
      - backend
    restart: always
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U $${POSTGRES_USER}']
      interval: 5s
      timeout: 5s
      retries: 10
