on:
  push:
  workflow_dispatch:
env:
  FORCE_COLOR: 2
  OWNER_NAME: marlonluan
  IMAGE_NAME: spring-boot-starter
  VERSAO_1: "0.0.1"
  VERSAO_2: "test"
  VERSAO_3: "1.2.3"
  VERSAO_4: "20250101"
  VERSAO_FINAL: "${VERSAO_1}_${VERSAO_2}-${VERSAO_3}-${VERSAO_4}"
jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v6

      - uses: docker/setup-qemu-action@v3

      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/metadata-action@v5
        id: metadata
        with:
          images: |
            ${{ github.repository }}
            ghcr.io/${{ github.repository }}

      - uses: docker/build-push-action@v6
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: |
            ${{ env.OWNER_NAME }}/${{ env.IMAGE_NAME }}:${{ env.VERSAO_1 }}_${{ env.VERSAO_2 }}-${{ env.VERSAO_3 }}-${{ env.VERSAO_4 }}
            ghcr.io/${{ env.OWNER_NAME }}/${{ env.IMAGE_NAME }}:${{ env.VERSAO_1 }}_${{ env.VERSAO_2 }}-${{ env.VERSAO_3 }}-${{ env.VERSAO_4 }}
